---
layout: archive
---

<p>
Hi.  I'm Curtis.  Last name Einsmann, like [Albert] <i>Einstein</i>, with <i>mann</i> instead of <i>tein</i>.  I'm a Software Development Engineer located in the Washington, D.C. area.  I just launched this site, so don't expect a whole lot of content yet.  I'll be writing blog posts from time to time, in between coding, playing basketball and practicing Stoic philosophy.
<br></br>
I work for <a href="https://aws.amazon.com">Amazon Web Services</a>, on the <a href="https://aws.amazon.com/education/awseducate/">AWS Educate</a> team.  Naturally, I'm a frequent AWS user, both in my professional work and personal projects.  <i>Blog posts are my own opinions, and do not reflect the opinions of AWS</i>.
<br></br>
Feel free to reach out and connect with me on <a href="https://www.linkedin.com/in/curtiseinsmann/">LinkedIn</a>, or follow my other socials.
</p>

<h3 class="archive__subtitle">{{ "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
