---
layout: archive
---

<p>
Hi. I'm Curtis. Last name Einsmann, like [Albert] <i>Einstein</i>, with <i>mann</i> instead of <i>tein</i>.
<br></br>
I work as a Software Engineer at Amazon.
<br></br>
I'm learning to write in public. I share soft skills, technical skills and career growth experiences for early-career software engineers.
<br></br>
<b><i><a href="https://twitter.com/curtiseinsmann" target="_blank">Follow me on Twitter</a> for more.</b></i>
<br></br>
All opinions expressed online are mine, not my employers.
</p>

<h3 class="archive__subtitle">{{ "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
